Intersection of two arrays

In [1]:
def intersection(arr1,arr2):
    aset=set()
    for i in arr1:
        if i in arr2:
            aset.add(i)
    return aset
arr1=[1,2,2,4,5]
arr2=[2,5,6,4]
print(intersection(arr1,arr2))

{2, 4, 5}

Rat count house
-The function accepts two positive integers 'r' and 'unit' and a positive integer array 'arr' of size 'n' as its argument 'r' represents the number of rats presernt in an area.
-'unit' is the amount of food each rat consumes and each the element of array 'arr' represents the amount of food present in 'i+1' house number,where 0<=i
*Return -1 if the array is null
*Return 0 if the total amount of food all houses is not sufficient for all the rats.
*computed values lie within the integer range.

In [25]:
def housecount(r,unit,n,arr):
    if n==0:
        return -1
    food_req = r * units
    food_taken = 0
    house = 0
    for i in arr:
        food_taken = food_taken + i
        house = house + 1
        if food_taken >= food_req:
            break
    if sum(arr) <= food_req:
        return 0
    return house
r = 7
units = 3
n = 6
arr = [2,8,3,5,7,4]
print(housecount(r,units,n,arr))

5

In [29]:
def ratcount(r,units,arr,n):
    if n==0:
        return -1
        foodstole = 0
        total =r*units
        for i in range(n):
            foodstole = foodstole + arr[i]
            if foodstole>=total:
                break
                if sum(arr) < total:
                    return 0
                    return i+1

Factor of num

In [43]:
def factorNum(num):
    l1 = []
    for i in range(1, num + 1):
        if num % i == 0:
            l1.append(i)
    return l1

num = 12
print(factorNum(num))

[1, 2, 3, 4, 6, 12]

In [53]:
def factorNum(num):
    if num <= 0:
        return 0
    l1 = [ i for i in range(1 ,num+1) if num % i == 0]
    return l1

num = 12
factorNum(num)

[1, 2, 3, 4, 6, 12]

Reversing a string using stack

In [51]:
class mystack:
    def __init__(self):
        self.st = []
    def revstr(self,mystr):
        result = ''
        for i in mystr:
            self.st.append(i)
        for i in range(len(self.st)):
            popped = self.st.pop()
            result = result + popped
        return result

B = mystack()
B.revstr("kill")

'llik'

Number of stars of missing numbers

In [41]:
def missing_number(arr):
    for i in range(1, len(arr) + 1):
        if i not in arr:
            return i*'*'

arr = [1, 2, 4, 5, 7, 8]  
missing_number(arr)

'***'

Excel sheet column number

In [61]:
ord('A')

65

In [67]:
def col(name):
    a = 0
    for i in name:
        a = a*26 + ord(i) - 64
    return a

col('EE')
col('AN')

40

DEMONSTRATE ATM FUNCTIONS
GET THE NAME, FETCH THE PIN FROM DICTIONARY, IF PIN MATCHES PROCEED OR ELSE "INVALID PIN'
- OPTION 1:WITHDRAWAL
- OPTION 2:DEPOSITE
- OPTION 3:BALANCE ENQUIRY
- OPTION 4:OFFERS ON FD
- OPTION 5:QUIT

In [9]:
def atm():
    pins = {"jj":5544,"kk":6633,"yy":8373}
    bals = {"jj":60000,"kk":764344,"yy":800000}
    name=input("Enter your name:")
    pin = int(input("Enter your atm pin"))
    if pin != pins[name]:
        print("invlid pin")
        exit(0)
    while True:
        print("1.Withdraw\n2.Deposite\n3.Balance Enquiry\n4.Offers on FD\n5.Change ATM pin\n6.Quit\n")
        ch = int(input("Enter your choice:"))
        if ch == 1:
            amt = int(input("Enter the amount:"))
            withdraw(amt,bals,name)
        elif ch == 2:
            amt = int(input("Enter the amount:"))
            deposit(amt,bals,name)
        elif ch == 3:
            balanceenq(bals,name)
        elif ch == 4:
            offerfd()
        elif ch == 5:
            changepin(pins[name],pins,name)
        elif ch == 6:
            break
        else:
            print("Enter valid choice")

In [11]:
def withdraw(amount,bals,name):
    if amount > bals[name]:
        return "Amount exceeded than the limit"
    else:
        bals[name] = bals[name] - amount
def deposit(amount,bals,name):
    bals[name] = bals[name] + amount
def balanceenq(bals,name):
    print("The remaining balance is",bals[name],"\n\n")
def offerfd():
    print("if you start apply for a new load youll be getting 2% less interest on it")
def changepin(pin,pins,name):
    oldpin = int(input("Enter your old pin:"))
    if oldpin == pin:
        print("Enter your new pin:")
        newpin = int(input())
        pins[name] = newpin
        print("The pin is updated")